<!doctype html>
<html>
  <head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
<main class="error">
    <h1 class="error">YOU’RE OFF PLANIT<br> </h1>
    <span class="error">&#9785;</span>
    <h1 class="error">404</h1>
    <button class="error" onclick="homePage()" >TAKE ME HOME 🚀</button>
</main>
</body>
</html>