<!doctype html>
<html>
  <head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="main-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue-start"></div>
        </div>
           <!--  button -->
        <button class="back-button">
            Back
        </button>

    </section>
    <main>
        <!-- Welcome message -->
        <section class="text">
            <p><strong>Hi Name! 
                <br>
                You’re on the way to creating your event.
                </strong></p>
        </section>
        <section class="text">
            <p>First, set the time frame for the event by selecting the earliest and latest dates it could be:</p>
        </section>
        <!-- selections for dates-->
        <form>
            <fieldset>
              <legend>Start Date</legend>
              <input type="date" id="code" name="code">
            </fieldset>
          </form>
          <form>
            <fieldset>
              <legend>End Date</legend>
              <input type="date" id="code" name="code">
            </fieldset>
          </form>
        <button class="nextother">Next</button>
</main>
</body>
</html>