<!doctype html>
<html>
  <head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="main-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue-start"></div>
        </div>
           <!--  button -->
        <button class="back-button">
            Back
        </button>

    </section>
    <main>
      <div class="input-date-container">
        <!-- Welcome message -->
        <section class="text">
            <p><strong>Hi Name! 
                <br>
                You’re on the way to creating your event.
                </strong></p>
        </section>
        <section class="text">
            <p>First, set the time frame for the event by selecting the earliest and latest dates it could be:</p>
        </section>
        <!-- selections for dates-->
        <form id="date-range-form" action="/calculate-dates" method="POST">
          <fieldset>
            <legend>Start Date</legend>
            <input type="date" id="start-date" name="start-date">
          </fieldset>
        
          <fieldset>
            <legend>End Date</legend>
            <input type="date" id="end-date" name="end-date">
          </fieldset>
        
          <!-- NEXT BUTTON-->
          <button type="submit" class="nextother">Next</button>
        </form>
      </div>
</main>
</body>
</html>