<!doctype html>
<html>
  <head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>

    <!-- DELCARING DATA SO IT IS ACCESSIBLE TO scripts.js -->
    <script>
        // THE DATA FROM READING CSV FILE: line 45 of main.js
        let data = <%- JSON.stringify(data) %> // THIS IS NOT AN ERROR LEAVE ALONE
    </script>

  </head>
  <body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="main-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue"></div>
        </div>
           <!--  button -->
        <button class="back-button">
            <!-- Back arrow from https://www.w3schools.com/charsets/ref_utf_arrows.asp--> 
            &#x21E0; Back
        </button>

    </section>
    <main>
        <!-- Welcome message -->
        <section class="text">
            <p><strong>Hi [Username]!<br>You're on the way to creating your event.</strong></p>
        </section>

        <!-- Instruction message -->
        <section class="text">
            <p>Swipe the times you <em>can't</em> do.
                <br>Click 'Next' when you're done to share with others:</p>
            <!-- Calendar and explanation button -->
            <div class="question">?</div>
        </section>

        <div class="grid-container">
            <!-- hidden square at top left -->
            <div class="grid-item hidden"></div>

            <!-- date and day rows -->
            <div class="grid-item datebox">
                <h1 class="date">18</h1>
                <h2 class="date">MON</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">19</h1>
                <h2 class="date">TUE</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">20</h1>
                <h2 class="date">WED</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">21</h1>
                <h2 class="date">THU</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">22</h1>
                <h2 class="date">FRI</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">23</h1>
                <h2 class="date">SAT</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">24</h1>
                <h2 class="date">SUN</h2>
            </div>


            <!-- nested grids for each column to ease grid item identification-->
          <!-- initial grid contains time text -->
            <div class="nested-grid">
            <!-- time row 1-->
                <div class="grid-item timebox">
                    <h2 class="time">9.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">10.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">11.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">12.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">13.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">14.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">15.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">16.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">17.00</h2>
                </div>
                <!-- dateTime boxes are blank but change colour when selected-->

            </div>

            <div class="nested-grid">
                <!-- dateTime boxes are blank but change colour when selected
                FIXME: is dateTime class necessary?-->
              <!-- Monday column -->
                <!-- dateTime boxes are blank but change colour when selected-->
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>

            <div class="nested-grid">
            <!-- Tuesday column -->
                <!-- dateTime boxes are blank but change colour when selected-->
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>

            <div class="nested-grid">
              <!-- Wednesday column -->
                <!-- dateTime boxes are blank but change colour when selected-->
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>

            <div class="nested-grid">
              <!-- Thursday column -->
                <!-- dateTime boxes are blank but change colour when selected-->
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>

            <div class="nested-grid">
              <!-- Friday column -->
                <!-- dateTime boxes are blank but change colour when selected-->
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>
            <div class="nested-grid">
              <!-- Saturday column -->
                <!-- dateTime boxes are blank but change colour when selected-->
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>
            <div class="nested-grid">
              <!-- Sunday column -->
                <!-- dateTime boxes are blank but change colour when selected-->
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>
        </div>

        <!-- Next button at bottom of page-->
        <button class="next">NEXT</button>

        
    </main>
  </body>
</html>
