<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PlanIt's start page allowing users to either create an event - setting their name and 
    start date and end date - or allowing users to join an event with a code provided by the event creator.">
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
</head>
<body>
    <main id = "date" style="display:none;">
        <!-- Top bar with name and progress within section so that progress can adjust -->
        <section class="page-top">
            <!-- Heading-->
            <h1 class="title-heading">PlanIt MVP</h1>
    
            <!-- Progress bar -->
            <div class="progress-grey">
                <!-- Step 3/5 in progress-->
                <div class="progress-blue-60"></div>
            </div>
        </section>
        <section class="content">
            <div class="input-date-container">
            <!-- Welcome message -->
            <section class="text">
                <p class="bold">Hi Name!</p>
                <p>You’re on the way to creating your event.</p>
                <p>First, set the time frame for the event by selecting the earliest and latest dates it could be:</p>
            </section>
            <!-- selections for dates-->
            <!--routes to event creation with date data-->
            <form id="date-range-form" action="/eventCreation" method="POST">
                <fieldset>
                <legend>Start Date</legend>
                <input type="date" id="start-date" name="start-date">
                </fieldset>
            
                <fieldset>
                <legend>End Date</legend>
                <input type="date" id="end-date" name="end-date">
                </fieldset>
            
                <!-- NEXT BUTTON-->
                <button type="submit" class="next"><span>Next</span></button>
            </form>
            </div>
        </section>
  </main>


    <main id="landingSection" class="welcomeAnimation">
        <section class="page-top">
            <!-- Heading-->
            <h1 class="title-heading">PlanIt MVP</h1>
    
            <!-- Progress bar -->
            <div class="progress-grey">
                <!-- Step 1/5 in progress-->
                <div class="progress-blue-20"></div>
            </div>
        </section>
        <!-- Welcome message for landing section -->
        <section class="content">
            <section class="text">
                <p class="bold">Welcome to PlanIt</p>
                <p>Choose whether you would like to set up a new event or enter your code for a live event:</p>
            </section>
            <!-- Buttons to create an event or join an event -->
            <button class="create" style="left: 60%;" onclick="showDate()">Create Event</button>
            <button class="join" style="left: 20%;" onclick="showJoinSection()">Join Event With Code</button>
        </section>
    </main>


    <main id="joinSection" style="display:none;">
        <section class="page-top">
            <!-- Heading-->
            <h1 class="title-heading">PlanIt MVP</h1>
    
            <!-- Progress bar -->
            <div class="progress-grey">
                <!-- Step 2/5 in progress-->
                <div class="progress-blue-40"></div>
            </div>
        </section>
        <section class="content">
            <!-- Welcome message for join section -->
            <section class="text">
                <p class="bold">Welcome to PlanIt</p>
                <p>Enter your code here:</p>
            </section>
            <!-- Form for entering event code -->
            <form>
                <fieldset>
                    <legend>Event Code</legend>
                    <input type="text" id="code" name="code">
                </fieldset>
            </form>
            <button class="next" onclick="joinEvent()"><span>Next</span></button>
        </section>
    </main>

    <main  id="login" style="display:none;">
        <section class="page-top">
        <!-- Heading-->
        <h1 class="title-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <!-- Not part of progress so all blue -->
            <div class="progress-blue-end"></div>
        </div>
        </section>
        <section class="content">
            <div class="Registration">
                <p class="text bold">User Registration</p>
                <p class="text">Please enter your details below to register</p>
                <form method="post">
                    <!--Input for the name -->
                    <form>
                        <fieldset>
                            <legend>Name</legend>
                            <input type="text" id="name" name="name" required>
                        </fieldset>
                    </form>
                    <br>
                
                    <!-- This is the input for the email-->
                    <form>
                        <fieldset>
                            <legend>Email:</legend>
                            <input type="email" id="email" name="email" required>
                        </fieldset>
                    </form>
                    <br>
                
                    <!-- This is the input for the password -->
                    <form>
                        <fieldset>
                            <legend>Password:</legend>
                            <input type="password" id="password" name="password" required>
                        </fieldset>
                    </form>
                    <br>
                
                    <!-- This is the the register button -->
                    <button class="register">
                        <input type="submit" value="Register" onclick="showDate()">
                    </button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>

