<!doctype html>
<html>
  <head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="main-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue-start"></div>
        </div>
           <!--  button -->
        <button class="back-button">
            Back
        </button>

    </section>
    <main>
        <!-- Welcome message -->
        <section class="text">
            <p><strong>Welcome to PlanIt
                <br>
                Choose whether you would like to set up a new event or enter your code for a live event:.</strong></p>
        </section>
        <!-- buttons to create an event or join an event-->
        <button class="create" style="left: 60%;">Create Event</button>
        <button class="join" style="left: 20%;">Join Event With Code</button>
</main>
</body>
</html>
