<!DOCTYPE html>
<html>
<head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
</head>
<body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="title-heading">PlanIt MVP</h1>


        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue-20"></div>
        </div>
       
        <!-- Back button -->
        <button class="back-button" onclick="showLandingSection()">Back</button>
    </section>

    <main id = "date" style="display:none;">
        <div class="input-date-container">
          <!-- Welcome message -->
          <section class="text">
            <p class="bold">Hi Name!</p>
            <p>You’re on the way to creating your event.</p>
          </section>
          <section class="text">
              <p>First, set the time frame for the event by selecting the earliest and latest dates it could be:</p>
          </section>
          <!-- selections for dates-->
          <form id="date-range-form" action="/calculate-dates" method="POST">
            <fieldset>
              <legend>Start Date</legend>
              <input type="date" id="start-date" name="start-date">
            </fieldset>
          
            <fieldset>
              <legend>End Date</legend>
              <input type="date" id="end-date" name="end-date">
            </fieldset>
          
            <!-- NEXT BUTTON-->
            <button type="submit" class="nextother">Next</button>
          </form>
        </div>
  </main>


    <main id="landingSection">
        <!-- Welcome message for landing section -->
        <section class="text">
            <p class="bold">Welcome to PlanIt</p>
            <p>Choose whether you would like to set up a new event or enter your code for a live event:</p>
        </section>
        <!-- Buttons to create an event or join an event -->
        <button class="create" style="left: 60%;" onclick="showLogin()">Create Event</button>
        <button class="join" style="left: 20%;" onclick="showJoinSection()">Join Event With Code</button>
    </main>


    <main id="joinSection" style="display:none;">
        <!-- Welcome message for join section -->
        <section class="text">
            <p class="bold">Welcome to PlanIt</p>
            <p>Enter your code and name in here:</p>
        </section>
        <!-- Form for entering event code -->
        <form>
            <fieldset>
                <legend>Event Code</legend>
                <input type="text" id="code" name="code">
            </fieldset>
        </form>
        <form>
            <fieldset>
                <legend>Name</legend>
                <input type="text" id="code" name="code">
            </fieldset>
        </form>
        <button class="nextother">Next</button>
    </main>

    <main  id="login" style="display:none;">
        <div class="Registration">
            <p class="text bold">User Registration</p>
            <p class="text">Please enter your details below to register</p>
            <form method="post">
                <!--Input for the name -->
                <form>
                    <fieldset>
                        <legend>Name</legend>
                        <input type="text" id="name" name="name" required>
                    </fieldset>
                </form>
                <br>
            
                <!-- This is the input for the email-->
                <form>
                    <fieldset>
                        <legend>Email:</legend>
                        <input type="email" id="email" name="email" required>
                    </fieldset>
                </form>
                <br>
            
                <!-- This is the input for the password -->
                <form>
                    <fieldset>
                        <legend>Password:</legend>
                        <input type="password" id="password" name="password" required>
                    </fieldset>
                </form>
                <br>
            
                <!-- This is the the register button -->
                <button class="register">
                    <input type="submit" value="Register" onclick="showDate()">
                </button>
            </form>
        </div>
    </main>
</body>
</html>

