<!doctype html>
<html>
  <head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="main-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue-start"></div>
        </div>
           <!--  button -->
        <button class="back-button">
            Back
        </button>

    </section>
    <main>
        <!-- Welcome message -->
        <section class="text">
            <p><strong>Welcome to PlanIt
                <br>
                Enter your code in here:</strong></p>
        </section>
        <form>
            <!-- input for the event code/link-->
            <fieldset>
              <legend>Event Code</legend>
              <input type="text" id="code" name="code">
            </fieldset>
          </form>
        <button class="nextother" >Next</button>
</main>
</body>
</html>
