<!doctype html>
<html>
  <head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="main-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue"></div>
        </div>
           <!--  button -->
        <button class="back-button">
            Back
        </button>

    </section>
    <main>
        <div class="Registration">
            <h2>User Registration</h2>
            <form method="post">
            <!--Input for the name -->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
        
            <!-- This is the input for the email-->
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
        
            <!-- This is the input for the password -->
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
        
            <!-- This is the the register button -->
            <input type="submit" value="Register">
            </form>
        </div>
    </main>
</body>