<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Provides share code to be able to access the calendar to share with others.">
    <title>PLANIT Share Event</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <main>
        <section class="page-top">
            <!-- Heading-->
            <h1 class="title-heading">PlanIt MVP</h1>
    
    
            <!-- Progress bar -->
            <div class="progress-grey">
                <div class="progress-blue-20"></div>
            </div>
        </section>
        <section class="content">
            <!-- Welcome message -->
            <section class="text" >
                <p><strong>All ready to go!
                    <br>
                    You can invite others to contribute their availability by sharing the following code: <br></strong></p>
            <!-- link to copy todo needs to be implemented-->
            <button id="link-button" class="link-button" onclick="copyToClipBoard()"><%- eventUrl %></button>
            <!--todo CM remove css-->
            <div style="text-align:center" >
            <p><strong><br><br><br><br><br>Check summary of results here: </strong></p>
            <a href="http://www.doc.gold.ac.uk/usr/717/summary/<%- eventUrl %>">
                <button class="next"><span>Summary</span></button>
            </a>
            
            </div>
            </section>  
        </section>
    </main>
</body>

</html>

