<!doctype html>
<html>
  <head>
    <title>PLANIT Share Event</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="main-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue-end"></div>
        </div>
           <!--  button -->
        <button class="back-button" onclick="homePage()">
            Back
        </button>

    </section>
    <main>
        <!-- Welcome message -->
    <section class="text" >
        <p><strong>All ready to go!
            <br>
            You can invite others to contribute their availability by sharing the following code: <br></strong></p>
    <!-- link to copy todo needs to be implemented-->
    <button id="link-button" class="link-button"><%- eventUrl %></button>
    <!--todo CM remove css-->
    <div style="text-align:center" >
    <p><strong><br><br><br><br><br>Check summary of results here: </strong></p>
    <a href="/summary/<%- eventUrl %>">
        <button class="nextother">Summary</button>
    </a>
    
    </div>
</section>
</main>
</body>
</html>

