<!doctype html>
<html>
  <head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="main-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue-end"></div>
        </div>
           <!--  button -->
        <button class="back-button" onclick="homePage()">
            Back
        </button>

    </section>
    <main>
        <!-- Welcome message -->
        <section class="text">
            <p><strong>Participants: 
                <br>
                The following people have contributed to the event timings:
                <br>
                [Event Creator Name]
                <br>
                [Event Participant Name]
                <br>
                [Event Participant Name]
                </strong></p>
        </section>
        <section class="text">
            <p>The first three times everyone can make so far are:
                <br>
                For calendar view press icon -> 
            </p>
        </section>
        <!--times avalible-->
        <button class="times">14:00 - 17:00 Thursday 21st December</button>
        <button class="times">10:00 - 15:00 Saturday 23rd December</button>
        <button class="times">14:00 - 17:00 Sunday 24th December</button>
        <section class="text">
            <p>
                <u>Click here</u> to see more times
            </p>
        </section>
</main>
</body>
</html>