body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #5456FA;

}
/* Heading and progress bar */
.page-top {
  position: fixed;
  background-color: white;
  width: 100%; 
  margin: 0px 0px 20px 0px;
  padding: 50px 0px 5px 0px;
}

.title-heading {
  font-size: 26px; 
  color: black;
  font-weight: normal;
  margin: 20px 5px 10px; 
}

.progress-grey {
  width: 100vw;
  height: fit-content;
  background-color: #D9D9d9;
}


/* FIXME: There must be a simpler way of doing this progress */
.progress-blue-20 {
  border: 1px solid #5456FA;
  width: 20%;
  height: 16px;
  background-color: #5456FA;
}

.progress-blue-40 {
  border: 1px solid #5456FA;
  width: 40%;
  height: 16px;
  background-color: #5456FA;
}

.progress-blue-60 {
  border: 1px solid #5456FA;
  width: 60%;
  height: 16px;
  background-color: #5456FA;
}

.progress-blue-80 {
  border: 1px solid #5456FA;
  width: 80%;
  height: 16px;
  background-color: #5456FA;
}

.progress-blue-end {
  border: 1px solid #5456FA;
  width: 100%;
  height: 16px;
  background-color: #5456FA;
}

.back-button {
  color: black;
  font-size: 16px; 
  text-decoration: none;
  text-align: left;
  border: none;
  background-color: white;
  margin-top: 1em;
  margin-left: 5px;
  padding: 0px;

}

/* The main block of each page - top margin allows for fixed progress bar at top of page */
.content {
  width: 90%; 
  margin: 180px auto 0px auto;
  max-width: 1200px;
  
}

.calendarContent {
  width: 100vw; 
  max-width: 1200px;
  margin: 0px auto 0px auto;
}

.bold {
  font-weight: bold;
}

.text {
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  line-height: 1.6;
}

.hiddenText {
  display: none;
}

.info-dots {
  font-weight: bold;
  font-size: 22px;
  cursor: help;
  color: #5456FA;

}

.info-dots::hover {
  color: red;
}
.highlighted {
  color: #5456FA;
  font-size: 16px;

}

/* Calendar */
/* probably need to make this an icon instead of text */
.question {
  display: inline-block;
  text-align: center;
  line-height: 1.3em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.5px solid #5456FA;
  font-size: 16px;
  margin-bottom: 5px;
  background-color: #0003FA;
  color: white;
  font-weight: bold;
  cursor: grab;
}

/* Top row (hidden and dates) */
.hidden {
  border-right: 1px solid #5456FA;
  border-bottom: 1px solid #5456FA;
  background-color: none;
}

.datebox {
  border: 1px solid #5456FA;
  border-left: none;
  padding: 0px;
  width: auto;
}

/* For 404 page */
main.error {
  text-align: center;
  margin: 100px 10px;
}
/* Main message */
h1.error{
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}
/* icon */
span.error {
  font-size: 120px;
}

button.error{
  font-size: 18px;
  text-align: center;
  border: 1px solid #5456FA;
  color: #5456FA;;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  padding: 10px 50px;
  margin-top: 20px;
}


/* times at start of rows */
h2.time {
  font-size: 0.75em;
  font-weight: normal;
}

h2.hack {
  color: white;
}

/* Overwrites border to be blue, as per design */
.timebox {
  border: 1px solid #5456FA;
  border-top: none;
  text-align: center;

}






/* Button at bottom of screen */
.next {
  text-align: center;
  font-size: 16px;
  color: white;
  text-transform: uppercase; /* Changed in line with Figma design CM 29/02 */
  letter-spacing: 0.25em;
  background-color: #0003FA;
  border: 1px solid #5456FA;
  border-radius: 20px; /* 5px too subtle */
  /*position: absolute; - CHANGED FOR TIME BEING */
  width: 90%;
  height: 62px;
  margin: 20px 5%;
  cursor: pointer;
}
/* To include an animation on hover 
as per https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate1*/
.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}



.button-container {
  text-align: center;
  position: relative;
}

/* create and join buttons for landing page*/
.create, .join {

  border: 2px solid #BBBABA; /* changed colour in line with Figma design CM 29/02 */
  border-radius: 20px; /* 5px wasn't showing up */
  color: rgb(10, 10, 10);
  background-color: #ffffff; 
  padding: 0px;
  text-transform: capitalize;
  letter-spacing: 0.25em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px; 
  cursor: pointer;
  margin-top: 24px;
  width: 100%; /* Full width of main CM 29/02 */
  height: 72px; 
}

.join:hover , .create:hover {
  color:#0003FA;
  border: 5px solid #0003FA;
}
/* fieldset for the name of an input to be writen whithin the border*/
fieldset {
  border: 2px solid #0003FA;
  padding: 10px; 
  border-radius: 20px;
  height: fit-content;
  width: 90%;
  margin-bottom: 24px;

}

fieldset input[type=text] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  outline: none; 
}

legend {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  font-size: 16px;
}

input[type="email" i] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  outline: none; 
}

input[type="submit"] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  outline: none; 
  background-color: #0003FA;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

input[type="password"] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  outline: none; 
}

input[type="date" i] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: 16px;
  color: #BBBABA;
  box-sizing: border-box;
  border: none;
  outline: none; 
}


/* link/code button*/
.link-button{
  letter-spacing: 0.25em;
  background-color: #dbdbe0;
  border: 1px solid #090909;
  font-size: 20px; 
  text-align: center;
  margin: 50px 20% 0px 20%;
  width: 60%;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;

}

/* link button when selected*/
.link-button:focus {
  background-color: #5456FA;
  color: white;
  
}


/* copy button */
.copy-button {
    text-transform: none;
    letter-spacing: 0.25em;
    background-color: #dbdbe0;
    border: 1px solid #090909;
    font-size: 10px;
    text-align: center;
    margin: 10px 20% 100px;
    bottom: 20px;
    width: 62px;
    height: 62px;
    cursor: pointer;
    border-radius: 50px;
    color: black;

}

/* copy button when selected */
.copy-button:focus {
  background-color: #5456FA;
  color: white;
}

/* buttons once state changed to clicked*/
.clicked {
  background-color: #5456FA;
  color: white;
  /* text-transform: capitalize; */
}

/* register button*/
.register {
  /* text-align: center;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.25em; */
  font-size: xx-large;
  background-color: #0003FA;
  border: 1px solid #5456FA;
  border-radius: 20px; 
  /* position: absolute; */
  width: 70%;
  height: 130px;
  margin: 20px 15%;
  cursor: pointer;
}

/* avalible times*/
.times{
  text-align: center;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.25em;
  background-color: #5456FA;
  border: 1px solid #6e71fc;
  border-radius: 5px;
  width: 50%;
  height: 50px;
  margin-bottom: 18px;
  cursor: pointer;
}

/* Experimenting ---------------------------- */
#pureCalendar.expanded {
  position: fixed;
  bottom: 0; /* Position at bottom of viewport */
  left: 50%; /* centre position */
  transform: translateX(-50%); /* Centre the element */
  width: 100%;
  height: fit-content;
  z-index: 20; /* ensure it's on top of other content but below active cells*/
  background-color: #5456FA50; /* Semi-transparent */
  overflow: auto; /* allows for scrolling */
}

/* To exit expanded calendar */
.exitme-button {
  text-align: center;
  font-size: 10px;
  color: white;
  text-transform: uppercase; /* Changed in line with Figma design CM 29/02 */
  letter-spacing: 0.25em;
  background-color: #0003FA;
  border: 1px solid #5456FA;
  border-radius: 20px; /* 5px too subtle */
  /*position: absolute; - CHANGED FOR TIME BEING */
  width: 42px;
  height: 42px;
  cursor: pointer;
  margin: 10px 10% 5px 85%;
}

.hidden-button {
  display: none;
}



/* Calendar as is*/
.grid-containment {
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: auto; /* Enables vertical scrolling */
  display: block; /* Default block display */
  width: 90vw; 
  height: 450px;
  max-width: 1200px; /* as per 'content' */
  margin: 0px auto;
}

/* Attempting to prettify scrollbar */
.grid-containment::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
.grid-containment::-webkit-scrollbar-track {
  background-color: #BBBABA;
  border-radius: 8px;
  border: 1px solid #cacaca;

}
 
.grid-containment::-webkit-scrollbar-thumb {
  background-color: #0003FA;
  border-radius: 8px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12vw); /* *A* If you change second parameter, must change *B* width*/
  grid-auto-flow: column; /* Ensures that grid items flow in a column sequence */
  min-width: min-content; /* The grid should be at least as wide as the smallest content */
}

h1.date {
  font-size: 12px;
  text-align: left;
  margin: 0px 2px;
  font-weight: normal;
}

h2.date {
  text-align: left;
  margin: 0px 2px;
  font-weight: normal;
  font-size: 14px;
}

.monthSpan {
  font-size: 8px;
  text-align: right;
  margin: 0px;
  font-weight: normal;
  text-transform: uppercase;
}

/* For text above calendar */
.noMargin {
  margin-bottom: 0px;
}

/* IMPORTANT: THIS MUST BE BEFORE .ACTIVE, .ZEROCOORDS ETC */
.dayslot, .timeslot, .timeOfDay, .summary-timeslot {
  user-select: none;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  border: 1px solid #BBBABA;
  width: 12vw; /* *B* If change this, must change *A* main grid repeat */
  height: 45px; /* ditto */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  background-color: white;
}

.dayslot, .timeOfDay
{
  border: 1px solid #5456FA;
}

.timeslot, .summary-timeslot 
{
  color: transparent; 
}

/* For when items are selected */
/* IMPORTANT: THIS MUST BE AFTER TIMESLOT!! */
.active{
  background-color: #5456FA;
  border: 1px solid #BBBABA;
  padding: 20px;
  z-index: 30;
  text-align: center;
}

/* IMPORTANT: THIS MUST BE AFTER TIMESLOT!! */
/* For when items are ideal dates */
.zeroCoord{
  background-color: white;
  border: 1px solid #BBBABA;
  padding: 20px;
  text-align: center;
}
/* IMPORTANT: THIS MUST BE AFTER TIMESLOT!! */
/* For when items are almost ideal dates */
/* TODO: if more than one state, need to change this colour */
.oneCoord{
  background-color: #f0dba0;
  border: 1px solid #BBBABA;
  padding: 20px;
  text-align: center;
}

/* IMPORTANT: THIS MUST BE AFTER TIMESLOT!! */
/* For when items are not ideal at all dates */
.unavailable{
  background-color: #5456FA;
  border: 1px solid #BBBABA;
  padding: 20px;
  text-align: center;
}

/* IMPORTANT: THIS MUST BE AFTER TIMESLOT!! */
/* For when items are already selected by other users */
.already-active{
  background-color: #5456FA;
  border: 1px solid #BBBABA;
  padding: 20px;
  text-align: center;
}

#hidden-corner {
  visibility: hidden;
}
/* define the keyframes */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(50%);
  }
  to {
      opacity: 1;
      transform: translateY(0%);
  }
}

/*animation for home page */
.welcomeAnimation {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}


.key-grid {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto; /* TODO: Need to change if more than two in key!*/
  margin-bottom: 20px;
  grid-gap: 5px;
}

.box1 {
  background-color: white;
  border: 1px solid #BBBABA;
  font-size: 12px;
  text-align: center;
  color: #5456FA;
}

.box2 {
  background-color: #5456FA;
  border: 1px solid #BBBABA;;
  font-size: 12px;
  text-align: center;
  color: white;

}

.box3 {
  background-color: #f0dba0;
  border: 1px solid #BBBABA;;
  font-size: 12px;
  text-align: center;
  color: white;
  
}

/* For list of participants */
.participants {
  margin: 0px;
}


/* modal - from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* stays in place */
  z-index: 40; /* Sits on top of calendar*/
  top: auto;
  width: 80%;
  max-width: 600px;
  margin: 30px 10% 0px 10%;
  height: fit-content;
  overflow: auto;



}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 5px solid #5456FA;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  color: black;
  font-size: 14px;


}

/* close button */
.close {
  color: #bababa;
  float: right;
  font-size: 42px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: #5456FA;
  text-decoration: none;
  cursor: pointer;
}
