body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #5456FA;

}
/* Heading and progress bar */
.page-top {
  width: 100%; 
  margin: 100px 0px 20px 0px;
}

.title-heading {
  font-size: 60px; /*Changed because too small */
  color: black;
  font-weight: normal;
  margin: 20px 20px 50px 20px; /* Changed because spacing was too small CM 29/02 */
}

.progress-grey {
  width: 100vw;
  height: fit-content;
  background-color: #D9D9d9;
}


/* FIXME: There must be a simpler way of doing this progress */
.progress-blue-20 {
  border: 1px solid #5456FA;
  width: 20%;
  height: 35px; /* 10px was too narrow CM 29/02*/
  background-color: #5456FA;
}

.progress-blue-40 {
  border: 1px solid #5456FA;
  width: 40%;
  height: 35px;
  background-color: #5456FA;
}

.progress-blue-60 {
  border: 1px solid #5456FA;
  width: 60%;
  height: 35px;
  background-color: #5456FA;
}

.progress-blue-80 {
  border: 1px solid #5456FA;
  width: 80%;
  height: 35px;
  background-color: #5456FA;
}

.progress-blue-end {
  border: 1px solid #5456FA;
  width: 100%;
  height: 35px;
  background-color: #5456FA;
}

.back-button {
  color: black;
  font-size: 50px; /* 1.5em wasn't big enough CM 29/02 */
  text-decoration: none;
  text-align: left;
  border: none;
  background-color: white;
  margin-top: 1em;
  margin-left: 20px;
  padding: 0px;

}

/* Introduction */
main {
  width: 90%; 
  margin: 5px auto;
  
}

.bold {
  font-weight: bold;
}

.text {
  color: black;
  font-size: 32px; /* I changed this because it was too small CM 29/02 */
  text-decoration: none;
  text-align: left;
}

/* Calendar */
/* probably need to make this an icon instead of text */
.question {
  float: right;
  text-align: center;
  line-height: 1.3em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.5px solid #5456FA;


}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: white;
  margin: 40px 0px;

}

/* FIXME: should min-width and min-height be set to 44px as per finger-touch recommednations?*/
.grid-item {
  background-color: white;
  border-right: 1px solid #BBBABA;
  border-bottom: 1px solid #BBBABA;
  padding: 0.5em;
  font-size: 1em;
  text-align: center;
  
}

.nested-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, 1fr);
  background-color: white;


}
/* Top row (hidden and dates) */
.hidden {
  border-right: 1px solid #5456FA;
  border-bottom: 1px solid #5456FA;
}

.datebox {
  border: 1px solid #5456FA;
  border-left: none;
  padding: 0px;
  width: auto;
}

h1.date {
  font-size: 2.5em;
  text-align: left;
  margin: 0px 2px;
  font-weight: normal;
}

main.error {
  text-align: center;
}
h1.error{
  font-size: 6em;
  text-align: center;
}

span.error {
  font-size: 8em;
}

h2.date {
  text-align: left;
  margin: 0px 2px;
  font-weight: normal;

}

/* times at start of rows */
h2.time {
  font-size: 0.75em;
  font-weight: normal;
}

h2.hack {
  color: white;
}

/* Overwrites border to be blue, as per design */
.timebox {
  border: 1px solid #5456FA;
  border-top: none;
  text-align: center;

}
/* For when items are selected */
.active{
  background-color: #5456FA;
  border: 1px solid #BBBABA;
  padding: 20px;
  text-align: center;
}

/* For when items are already selected by other users */
.already-active{
  background-color: #000080;
  border: 1px solid #BBBABA;
  padding: 20px;
  text-align: center;
}


/* Button at bottom of screen */
.next {
  text-align: center;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.25em;
  background-color: #0003FA;
  border: 1px solid #5456FA;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

.button-container {
  text-align: center;
  position: relative;
}

/* create and join buttons for landing page*/
.create, .join {

  border: 2px solid #BBBABA; /* changed colour in line with Figma design CM 29/02 */
  border-radius: 20px; /* 5px wasn't showing up */
  color: rgb(10, 10, 10);
  background-color: #ffffff; 
  padding: 30px 32px;
  text-transform: capitalize;
  letter-spacing: 0.25em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 42px; /* 16px was hardly legible */
  cursor: pointer;
  margin: 30px 0px 10px 0px; /* to put spaces between the two */
  width: 100%; /* Full width of main CM 29/02 */
  height: 170px; /* 90px wasn't big enough */
}

/* These positions were not working in mobile view */
/* .create {
  position: absolute;
  top: 65%;
  left: 20%;
}
.join {
  position: absolute;
  top: 65%;
  left: 60%;
} */

.join:hover , .create:hover {
  color:#0003FA;
  border: 5px solid #0003FA;
}
/* fieldset for the name of an input to be writen whithin the border*/
fieldset {
  border: 2px solid #0003FA;
  padding: 10px; 
  border-radius: 20px;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;

}
/* https://stackoverflow.com/questions/7731310/text-in-border-css-html*/
fieldset input[type=text] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: 26px;
  box-sizing: border-box;
  border: none;
  outline: none; 
}

legend {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  font-size: 30px;
}

input[type="email" i] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: 26px;
  box-sizing: border-box;
  border: none;
  outline: none; 
}

input[type="submit"] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: 32px;
  box-sizing: border-box;
  border: none;
  outline: none; 
  background-color: #0003FA;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

input[type="password"] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: 26px;
  box-sizing: border-box;
  border: none;
  outline: none; 
}

input[type="date" i] {
  width: calc(100% - 22px); 
  padding: 10px;
  font-size: xx-large;
  color: #BBBABA;
  box-sizing: border-box;
  border: none;
  outline: none; 
}


/* another next button with varible screen position*/
.nextother {
  text-align: center;
  font-size: xx-large;
  color: white;
  text-transform: uppercase; /* Changed in line with Figma design CM 29/02 */
  letter-spacing: 0.25em;
  background-color: #0003FA;
  border: 1px solid #5456FA;
  border-radius: 20px; /* 5px too subtle */
  /*position: absolute; - CHANGED FOR TIME BEING */
  width: 70%;
  height: 130px;
  margin: 20px 15%;
  cursor: pointer;
}
/* alternitive next button hover*/
.nextother:hover {
  color:#0e0e0e;
  border: 5px solid #090909;
}
/* link/code button*/
.link-button{
  text-transform: capitalize;
  letter-spacing: 0.25em;
  background-color: #dbdbe0;
  border: 1px solid #090909;
  font-size: 20px; 
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  bottom: 20px;
  width: 40%;
  height: 50px;
  cursor: pointer;
  
}
/* register button*/
.register {
  /* text-align: center;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.25em; */
  font-size: xx-large;
  background-color: #0003FA;
  border: 1px solid #5456FA;
  border-radius: 20px; /* Doesn't show iup at 5px CM 29/02 */
  /* position: absolute; */
  width: 70%;
  height: 130px;
  margin: 20px 15%;
  cursor: pointer;
}

/* avalible times*/
.times{
  text-align: center;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.25em;
  background-color: #5456FA;
  border: 1px solid #6e71fc;
  border-radius: 5px;
  width: 50%;
  height: 50px;
  margin-bottom: 18px;
  cursor: pointer;
}

/* Experimenting ---------------------------- */

.grid-containment {
  overflow-x: auto; /* Enables horizontal scrolling */
  display: block; /* Default block display */
  width: 100%; /* Take up full width of the parent */
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px); /* Create as many 100px columns as can fit */
  grid-auto-flow: column; /* Ensures that grid items flow in a column sequence */
  min-width: min-content; /* The grid should be at least as wide as the smallest content */
}

.dayslot, .timeslot, .timeOfDay {
  user-select: none;
  text-align: center;
  padding: 20px 0;
  font-size: 0.8em;
  border: 1px solid #BBBABA;
  width: 100px; /* Ensure a fixed width for each grid item */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.dayslot, .timeOfDay
{
  border: 1px solid #5456FA;
}

.timeslot 
{
  color: transparent; 
}

#hidden-corner {
  visibility: hidden;
}







