body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #5456FA;
    /* width: 100%; */
}

main {
    width: 100%; 
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: white;
    margin: 20px 20px 50px 0px;

}

.grid-item {
    background-color: white;
    border-right: 1px solid #BBBABA;
    border-bottom: 1px solid #BBBABA;
    padding: 0.5em;
    font-size: 3vw;
    text-align: center;
    
}

.nested-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(9, 1fr);
    background-color: white;


}

.dateTime, .timebox {
    background-color: BBBABA;
    border: 1px solid #BBBABA;
    /* padding: 20px; */
    text-align: center;
    /* font-size: 1.75em; */
    
}

/* Bottom container gets filled with CSV data */
#bottom-container 
{
    user-select: none;
}

.active{
    background-color: #5456FA;
    border: 1px solid #BBBABA;
    padding: 20px;
    text-align: center;
}

/* dates at top of coloumns */
.datebox {
    border-top: 1px solid #BBBABA;
    padding: 0px;
    width: auto;
}

h1.date {
    font-size: 1.5em;
    text-align: left;
    margin: 0px 5px;
}

h2.date {
    font-size: 1em;
    text-align: left;
    margin: 0px 5px;
}

/* times at start of rows */
.timebox {
    border-left: 1px solid #BBBABA;
}

h2.time {
    font-size: 0.75em;
}

h2.hack {
    color: white;
}