body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #5456FA;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: white;
    margin: 50px;

}

.grid-item {
    background-color: white;
    border-right: 1px solid #BBBABA;
    border-bottom: 1px solid #BBBABA;
    padding: 0.5em;
    font-size: 2vw;
    text-align: center;
    
}
/* possibly not needed todo */
.dateTime :active {
    background-color: BBBABA;
    border: 1px solid #BBBABA;
    padding: 20px;
    font-size: 2vw;
    text-align: center;
    
}

.active{
    background-color: #5456FA;
    border: 1px solid #BBBABA;
    padding: 20px;
    font-size: 2vw;
    text-align: center;
}

/*
Do we need this?
.hidden {

}
*/

/* dates at top of coloumns */
.datebox {
    border-top: 1px solid #BBBABA;
    padding: 0px;
    width: auto;
}

h1.date {
    font-size: 1.5em;
    text-align: left;
    margin: 0px 5px;
}

h2.date {
    font-size: 1em;
    text-align: left;
    margin: 0px 5px;
}

/* times at start of rows */
.timebox {
    border-left: 1px solid #BBBABA;
}

h2.time {
    font-size: 0.75em;
}

h2.hack {
    color: white;
}